<form role="form" ng-controller="OrderCtrl">
    <div class="form-group">
        <h3>Hey {{username}} </h3>
        <label>Your order details:</label>
        <ul ng-repeat="order in subOrders">
            <li>{{order.num}} slices with {{order.type}} <a ng-click="deleteSubOrder()">[X]</a></li>
        </ul>
    </div>
    <div class="form-group">
        <p class="form-control-static">What do you want to order?</p>
    </div>
    <div class="form-inline">
        <select ng-model="numSlices"
                ng-options="num for num in numbersArray"
                ng-init="numSlices = numbersArray[0]">
        </select>
        <p class="form-control-static">Slices of</p>
        <select ng-model="sliceType"
                ng-options="type for type in typesArray"
                ng-init="sliceType = typesArray[0]">
        </select>
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="addSubOrder()">Add</button>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="shareOrder()">Share</button>
    </div>
</form>